body {
  background-color: grey;
  text-align: center;
  font-family:  sans-serif;
}

body {
  margin: 0;
}

h1 {
  margin-top: 0;
  font-size: 125px;
font-family: 'Bebas Neue', cursive;
}

.top {
  background-color: white;
  height: 200px;
  padding: 100px;
}
.middle {
  background-color: white;
  height: 800px;
}

.marcus {
  max-width: 100%;
  max-height: 100%;
  position: relative;
  left: 20px;
}
h2 {
font-family: 'Bebas Neue', cursive;
font-size: 50px;
}
.bottom {
  background-color: black;
  height: 400px;

}
.stoicism {
  max-width: 100%;
  max-height: 100%;
}
.upbottom {
  background-color: black;
  height: 100px;
}
.lowbottom {
  background-color: black;
  height: 100px;
}
.last {
  background-color: black;
  height: 400px;
  max-width: 100%;
  max-height: 100%;
}
.last2 {
  background-color: black;
  height: 400px;
  max-width: 100%;
  max-height: 100%;
}
.lst {
  background-color: black;
  height: 100px;
}
.lastt {
  background-color: black;
  height: 100px;
}
.bottom-container {
padding: 50px 0 20px;

}
.footer-link {
  color: white;
 font-family: 'Bebas Neue', cursive;
 font-size: 30px;
 margin: 20px 40px;
 text-decoration: none;
}
.copyright {
  font-family: 'Bebas Neue', cursive;
  font-size: 25px;
}
a:hover {
  color: #4B5D67;
}
.stoictext {
  max-width: 100%;
  max-height: 100%;
}
.stoic2 {
  max-width: 100%;
  max-height: 100%;
}
